{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div class="form-container">
        {{ form_start(form) }}
        <h1>{{ block('title') }}</h1>
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}